{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class='container py-2 mt-2'>
    <div class="text-warning">
        <h2>Welcome, {{current_user.first_name}} {{current_user.last_name}}.</h2>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae mollitia molestias nesciunt asperiores velit
        autem minima tenetur libero cumque doloribus sapiente veniam facere facilis laborum ipsa, dignissimos ratione
        nihil officiis eaque? A, excepturi aut.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus laborum quasi cumque vero mollitia dolor
        officiis itaque, error corrupti, iste rem rerum est sequi doloremque animi ipsam architecto ducimus eaque
        maxime?</p>
    <div class="text-warning">
        <h2>Section A</h2>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae mollitia molestias nesciunt asperiores velit
        autem minima tenetur libero cumque doloribus sapiente veniam facere facilis laborum ipsa, dignissimos ratione
        nihil officiis eaque? A, excepturi aut.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus laborum quasi cumque vero mollitia dolor
        officiis itaque, error corrupti, iste rem rerum est sequi doloremque animi ipsam architecto ducimus eaque
        maxime?</p>
    <div class="text-warning">
        <h2>Section B</h2>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae mollitia molestias nesciunt asperiores velit
        autem minima tenetur libero cumque doloribus sapiente veniam facere facilis laborum ipsa, dignissimos ratione
        nihil officiis eaque? A, excepturi aut.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus laborum quasi cumque vero mollitia dolor
        officiis itaque, error corrupti, iste rem rerum est sequi doloremque animi ipsam architecto ducimus eaque
        maxime?</p>
    <div class="text-warning">
        <h2>Section C</h2>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae mollitia molestias nesciunt asperiores velit
        autem minima tenetur libero cumque doloribus sapiente veniam facere facilis laborum ipsa, dignissimos ratione
        nihil officiis eaque? A, excepturi aut.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus laborum quasi cumque vero mollitia dolor
        officiis itaque, error corrupti, iste rem rerum est sequi doloremque animi ipsam architecto ducimus eaque
        maxime?</p>
    <div class="text-warning">
        <h2>Section D</h2>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae mollitia molestias nesciunt asperiores velit
        autem minima tenetur libero cumque doloribus sapiente veniam facere facilis laborum ipsa, dignissimos ratione
        nihil officiis eaque? A, excepturi aut.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus laborum quasi cumque vero mollitia dolor
        officiis itaque, error corrupti, iste rem rerum est sequi doloremque animi ipsam architecto ducimus eaque
        maxime?</p>
</div>
{% endblock %}