{% extends "base.html" %}

{% block title %}
Log in
{% endblock %}

{% block content %}
<div class='container py-2 mt-2'>
    <div class="mt-2 mb-5 text-warning">
        <h2>Login</h2>
    </div>
    <form method='POST'>
        {{ form.hidden_tag() }}
        <div class='row'>
            <div class="mb-3 col-md-6">
                {{form.email.label(class='form-label')}}
                {% if form.errors.email %}
                {{form.email(class='form-control is-invalid')}}
                <div class="invalid-feedback">
                    {{form.errors.email[0]}}
                </div>
                {% else %}
                {{form.email(class='form-control')}}
                {% endif %}
            </div>
        </div>
        <div class='row'>
            <div class="mb-3 col-md-6">
                {{form.password.label(class='form-label')}}
                {% if form.errors.password %}
                {{form.password(class='form-control is-invalid')}}
                <div class="invalid-feedback">
                    {{form.errors.password[0]}}
                </div>
                {% else %}
                {{form.password(class='form-control')}}
                {% endif %}
            </div>
        </div>
        <div class="my-3 d-md-inline-block">
            {{form.submit(class='btn btn-warning form-control')}}
        </div>
        <div class="pb-3">
            <p class="small">Don't have an account? <span class='ml-3'><a class='link-warning pl-3'
                        href="{{ url_for('register') }}">Cerate an account</a></span></p>
        </div>
    </form>
</div>
{% endblock%}