{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Log in
{% endblock %}

{% block navbar %}
{{nav.top.render()}}
{% endblock %}

{% block content %}
<div class='container'>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{category}} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
        </div>
    {% endfor %}

    <div class="page-header">
        <h1>Log in</h1>
    </div>

    {{ wtf.quick_form(form) }}

    <div class='form-group'>
        <p>Don't have an account? <a href="{{ url_for('register') }}">register</a>.</p>
    </div>
</div>
{% endblock%}