{% extends "base.html" %}
{% block title %}
Users
{% endblock %}

{% block content %}

<div class='container'>
    <div class="page-header">
        <h1>{{current_user.first_name}} {{current_user.last_name}}</h1>
    </div>
    <div class="panel panel-info">
        <div class="panel-body">
            <ul class="list-group">
                {% for header in headers: %}
                <li class="list-group-item">{{header.label}}: {{current_user[header.key]}}</li>
                {% endfor %}
              </ul>
        </div>
        
      </div>
</div>
{% endblock%}