{% extends "base.html" %}
{% block title %}
Users
{% endblock %}

{% block content %}

<div class='container py-2 mt-2'>
    <div class="mt-2 mb-5 text-warning">
        <h2>Users</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
            <tr>
                {% for header in headers:%}
                    <th>{{header.label}}</th>
                {% endfor%}
            </tr>
        </thead>    
        <tbody class="table-striped">
            {% for user in items: %}
            <tr> 
                {% for header in headers:%}   
                    {% if header.key == 'id': %}
                        <th>{{user.id}}</th>
                    {% elif header.key == 'username': %}
                        <td><a href="{{url_for('user', id=user.id)}}" class="link-warning">{{user[header.key]}}</a></td>
                    {% else: %}
                    <td>{{user[header.key]}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock%}